<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".News.NewsSelection"></activity>
        <activity android:name=".Carbonfootprint.Results" />
        <activity android:name=".Carbonfootprint.XmlPullParserActivity" />
        <activity android:name=".Carbonfootprint.StepFour" />
        <activity android:name=".Carbonfootprint.StepThree" />
        <activity android:name=".Carbonfootprint.StepTwo" />
        <activity android:name=".Carbonfootprint.StepOne" />
        <activity android:name=".News.ArticlesActivity" />
        <activity
            android:name=".QuizMenuPackage.PollutionQuizPackage.pollutionQuizmenu"
            android:label="@string/title_activity_pollution_quizmenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QuizMenuPackage.OceanQuizzMenu.OceanQuizMenu" />
        <activity android:name=".QuizMenuPackage.OceanQuizzMenu.Oceanquizz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RecycleMaterial.Materialview" />
        <activity android:name=".RecycleMaterial.recyclewhat" />
        <activity android:name=".RecycleMaterial.recyclemenu" />
        <activity android:name=".Leaderboard.Leaderboard" />
        <activity android:name=".QuizMenuPackage.PlasticQuizMenu.Quiz" />
        <activity android:name=".QuizMenuPackage.PollutionQuizPackage.PollutionQuiz" />
        <activity android:name=".ViewUser" />
        <activity android:name=".ReviewQuestions" />
        <activity android:name=".QuizMenuPackage.QuizResults" />
        <activity android:name=".QuizMenuPackage.QuizMenu" />
        <activity android:name=".Register" />
        <activity android:name=".MainMenu" />
        <activity
            android:name=".MachineLearning.ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>